*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menubar {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
}

.menucontainer {
    display: flex;
    justify-content: space-between;
}

.video {
    height: 500px;
}

video#bgvid {
    position: relative;
    top: 75%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(videostart.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.logocontainer {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    max-height: 60px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.logo1 {
    height: 1.5em;
    min-width: 72px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo2 {
    height: 1.5em;
    min-width: 72px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: space-between;
}

.topcontainer {
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation2 {
    margin-left: 40px;
    padding: 10px 10px;
    width: 120px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.navigation2:hover{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 0%;
    transition: 0.5s;
}

.head1 {
    margin-top: 25px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
}

.head2 {
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.buttoncontainer {
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.button1 {
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.button2 {
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.button1:hover, .button2:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.quotation {
    margin: auto;
    padding: 65px 0px;
    width: 100%;
    background-color: #eeeeee;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
    color: rgba(26,26,26,.9);
}

.contactbackground {
    background-image: url("images/contactimage.jpg");
    width: 100%;
    height: 615px;
    background-position: top left;
}

.contactheader {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.contactcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    text-align: center;
}

.standardinput {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #666666;
    width: 40%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.2);
}

textarea {
   resize: none;
}

.submit {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #666666;
    width: 41%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.2);
}

.submit:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}
