*{
    margin: 0;
    padding: 0;
}

.topbackground {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 7em;
    position: absolute;
}

.menubar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo1 {
    margin-left: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: rgb(33, 33, 33);
    display: inline-block;
}

.logo2 {
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(33, 33, 33);
    display: inline-block;
}

.topcontainer {
    margin-right: 100px;
    margin-top: 10px;
    padding-bottom: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation {
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navigation:hover {
    color: #eda869;
    transition: 0.5s;
}

.navigation:active {
    color: #eda869;
}

img {
    width: 100%;
    margin: auto;
}

#aboutme {
    padding-top: 160px;
}

.lifecoaching {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    text-transform: uppercase;
}

.lifecoachingcontainer {
    margin: auto;
    padding-bottom: 200px;
    max-width: 70%;
    text-align: justify;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}
