*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.topbackground {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 68px;
    position: absolute;
}

.menubar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.logo {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(33, 33, 33);
}

.topcontainer {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation {
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    line-height: 2em;
}

.navigation2 {
    margin-left: 25px;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    line-height: 2em;
}

.navigation2:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
}

.navigation:hover, .imagetext1:hover {
    color: #eda869;
    transition: 0.5s;
}

.bigimagecontainer {
    position: absolute;
    margin: auto;
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: -300px;
    z-index: -1;
}

img {
    width: 100%;
    margin: auto;
}

.quotation {
    margin: auto;
    margin-top: 590px;
    padding: 30px 0px;
    width: 100%;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 1.1;
    color: #666666
}

.lifecoachingheader {
    margin-bottom: 30px;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    letter-spacing: 4px;
}

#lifecoaching {
    padding-top: 20px;
}

.lifecoaching {
    margin-bottom: 50px;
    padding-top: 150px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    text-transform: uppercase;
}

.lifecoachingcontainer {
    margin: auto;
    padding-bottom: 200px;
    max-width: 70%;
    text-align: justify;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.underlined {
    text-decoration: underline;
}

.list {
    margin-left: 15px;
}

.header2 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.eventcontainer {
    margin: auto;
    padding-bottom: 200px;
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
    background-image: url("images/no1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.topright {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    font-family: 'Indie Flower', cursive;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 30px;
    text-shadow:
    1px 0px black,
    -1px 0px black,
    0px 1px black,
    0px -1px black;
}

.bottomleft {
    padding-top: 400px;
    padding-left: 10px;
    padding-bottom: 75px;
    text-align: left;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 30px;
    text-shadow:
    1px 0px black,
    -1px 0px black,
    0px 1px black,
    0px -1px black;
}

.midcontainer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagecontainer {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.image1 {
    margin: 15px;
    height: 270px;
    width: 270px;
    background-image: url("images/motivacio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image1:hover {
    margin: 0px;
    height: 300px;
    width: 300px;
    background-image: url("images/motivacio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s;
}

.image2 {
    margin: 15px;
    height: 270px;
    width: 270px;
    background-image: url("images/onismeret.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image2:hover {
    margin: 0px;
    height: 300px;
    width: 300px;
    background-image: url("images/onismeret.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s;
}

.image3 {
    margin: 15px;
    height: 270px;
    width: 270px;
    background-image: url("images/mediacio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image3:hover {
    margin: 0px;
    height: 300px;
    width: 300px;
    background-image: url("images/mediacio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s;
}

.image4 {
    margin: 15px;
    height: 270px;
    width: 270px;
    background-image: url("images/lifecoach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image4:hover {
    margin: 0px;
    height: 300px;
    width: 300px;
    background-image: url("images/lifecoach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 0.5s;
}

.imagetext1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    line-height: 1.1;
}

.smoothScroll {
    padding-top: 60px;
    padding-bottom: 50px;
}

.imagetext2 {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    line-height: 1.1;
}

#aboutme {
    padding-top: 20px;

}
.aboutmecontainer {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leftsidecontainer {
    width: 35%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.rightsidecontainer {
    max-width: 61%;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.image5 {
    margin-top: 20px;
    width: 100%;
    background-color: gold;
}

.indextext {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    text-align: left;
    line-height: 1.1;
}

.contact {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
    height: 125px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftsidecontact {
    width: 15%;
    height: 100px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.rightsidecontact {
    width: 85%;
    height: 100px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.fa {
    margin-top: 16px;
}

.contactdetails {
    margin-top: 10px;
}

.facebooklink {
    font-size: 16px;
}

.facebooklink:link {
    color: #666666;
}

.facebooklink:visited {
    color: #666666;
}

#fee {
    padding-top: 19px;
}

.fee {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(150, 150, 150);
    letter-spacing: 4px;
}

.feedetails {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    line-height: 3;
}

#contactheader {
    padding-top: 12px;
}

.contactbackground {
    margin-top: 57px;
    background-image: url("images/contactimage.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}

.contactheader {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: 4px;
}

.contactcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    text-align: center;
}

.standardinput {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.8);
    width: 40%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.2);
}

textarea {
   resize: none;
}

.submit {
    margin: auto;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.8);
    width: 41%;
    border: 1px solid;
    border-color: rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 0.2);
}

.submit:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}
