*{
    margin: 0;
    padding: 0;
}

.topbackground {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 8em;
    position: absolute;
}

.menubar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
}

.logo1 {
    margin-left: 100px;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: rgb(33, 33, 33);
}

.logo2 {
    margin-left: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgb(33, 33, 33);
}

.topcontainer {
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation {
    margin-left: 10px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:active {
    color: #eda869;
}

a:hover {
    color: #eda869;
    transition: 0.5s;
}

img {
    width: 100%;
    margin: auto;
}

.quotation {
    margin: auto;
    padding: 30px 0px;
    width: 100%;
    background-color: #eeeeee;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 1.1;
    color: #666666
}

.lifecoaching {
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.midcontainer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagecontainer {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.image1 {
    margin: 10px;
    height: 270px;
    width: 270px;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.image2 {
    margin: 10px;
    height: 270px;
    width: 270px;
    background-color: yellow;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
}

.image3 {
    margin: 10px;
    height: 270px;
    width: 270px;
    background-color: green;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
}

.image4 {
    margin: 10px;
    height: 270px;
    width: 270px;
    background-color: violet;
    border-radius: 135px;
    display: flex;
    flex-direction: column;
}

.imagetext1 {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    line-height: 1.1;
}

.imagetext2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    line-height: 1.1;
}

.aboutmecontainer {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.leftsidecontainer {
    max-width: 64%;
    text-align: justify;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.rightsidecontainer {
    max-width: 32%;
    text-align: justify;
    color: #666666;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.image5 {
    margin-top: 20px;
    width: 90%;
    height: 850px;
    background-color: gold;
    border-radius: 50%;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    text-align: left;
    line-height: 1.1;
}

.contact {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
    height: 125px;
    font-size: 24px;
    font-weight: normal;
    color: #666666;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftsidecontact {
    width: 15%;
    height: 100px;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.rightsidecontact {
    width: 85%;
    height: 100px;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.fa {
    margin-top: 16px;
}

.contactdetails {
    margin-top: 10px;

}
