*{
    margin: 0;
    padding: 0;
}

.maincontent {
    width: 820px;
    height: 1120px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(220, 214, 205);
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-left: 102px;
    padding-top: 58px;
    color: rgb(93, 86, 111);
    font-weight: 100;
    font-size: 25px;
}

div .personaldata, div .contacts {
    position: relative;
    padding-left: 13px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(147, 140, 151);
    display: inline-block;
    width: 287px;
    height: 35px;
    border: 0px solid;
    border-radius: 3px;
}

.personaldata {
    margin-top: 40px;
    margin-left: 100px;
}

.contacts {
    margin-top: 0px;
    margin-left: 20px;
}

.nametext, .phonetext, .borndate, .gender, .mail, .marks, .facebook, .twitter, .house, .intro, .cvupload {
    position: relative;
    margin-top: 25px;
    color: rgb(74, 66, 97);
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
}

.nametext {
    margin-left: 100px;
}

.phonetext {
    margin-left: 285px;
}

.star {
    position: relative;
    margin-top: 10px;
    margin-left: -2px;
    color: rgb(220, 86, 86);
    font-size: 12px;
    font-weight: 900;
    display: inline-block;
}

input[type=name], input[type=phone], input[type=borndate], input[type=mail], input[type=face], input[type=twitter] {
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 35px;
    width: 288px;
    border: 1px solid;
    border-color: rgb(147, 140, 151);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 31px, rgba(220, 214, 205, 1));
    display: inline-block;
}

input[type=name] {
    margin-left: 100px;
}

input[type=phone] {
    margin-left: 20px;
}

.borndate {
    margin-left: 100px;
}

.gender {
    margin-left: 70px;
}

.mail {
    margin-left: 97px;
}

.newline {
    margin-left: 150px;
    display: inline-block;
}

input[type=borndate] {
    margin-left: 100px;
    margin-right: 53px;
    width: 75px;
}

input[type=radio] {
    margin-left: 30px;
    display: inline-block;
    position: relative;
}

label[for=female], label[for=male] {
    font-size: 15px;
    color: rgb(74, 66, 97);
    display: inline-block;
    top: -4px;
    position: relative;
}

input[type=mail] {
    margin-left: 31px;
}

.marks {
    margin-left: 100px;
}

.facebook {
    margin-left: 138px;
}

.container {
    margin-left: 100px;
    margin-top: 15px;
    width: 300px;
    height: 150px;
    display: flex;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(74, 66, 97);
    float: left;
}

.boxelem {
    margin-bottom: 10px;
    display: inline-block;
    width: 140px;
}

.comment {
    margin-top: 20px;
    position: relative;
    color: rgb(179, 176, 172);
    font-size: 14px;
    display: inline-block;
    float: left;
}

input[type=face] {
    margin-left: 25px;
    margin-top: 10px;
    float: left;
}

.twitter {
    margin-left: 25px;
    float: left;
}

input[type=twitter] {
    margin-left: 25px;
    float: left;
}

.house {
    margin-left: 25px;
    float: left;
}

select{
    margin-left: 425px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    width: 300px;
    border: 1px solid;
    border-color: rgb(147, 140, 151);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 31px, rgba(220, 214, 205, 1));
    display: inline-block;
    clear: both;
}

.intro {
    margin-top: 10px;
    margin-left: 100px;
}

#introducing {
    margin-left: 95px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 613px;
    height: 170px;
    border: 1px solid;
    color: rgb(153, 153, 153);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 175px, rgba(220, 214, 205, 1));
    display: inline-block;
}

.cvupload {
    margin-left: 100px;
    margin-right: 400px;
    display: inline;
}

.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label, .reset + label {
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 100px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(74, 66, 97);
    font-size: 15px;
    text-shadow: 1px 0px rgb(175, 172, 184);
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    border-color: rgb(147, 140, 151);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(220, 214, 205, 1));
}

input[id=check] {
    margin-left: 100px;
    margin-top: 25px;

}

label[for=check] {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(74, 66, 97);
}

.linken {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(98, 98, 98);
}

.saveform {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for=save] {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(220, 214, 205);
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(82, 73, 107, 1), rgba(66, 59, 87, 1));
}

.reset {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.reset + label {
    margin-left: 224px;
    padding-left: 25px;
    padding-right: 25px;
}
