*{
    margin: 0;
    padding: 0;
}

.maincontent {
    width: 820px;
    height: 1120px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(220, 214, 205);
    font-family: 'Open Sans', sans-serif;
}

.mainflexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.leftflexbox {
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin-left: 100px;
    max-width: 300px;
}

.rightflexbox {
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin: 132px 0px 0px 20px;
    max-width: 300px;
}

header {
    padding-top: 58px;
    color: rgb(93, 86, 111);
    font-weight: 100;
    font-size: 25px;
}

.personaldata, .contacts {
    position: relative;
    padding: 5px 0px 0px 13px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(147, 140, 151);
    display: inline-block;
    width: 287px;
    height: 35px;
    border: 0px solid;
    border-radius: 3px;
}

.personaldata {
    margin-top: 40px;
}

.standardlabel, .intro, .cvupload, .gender {
    margin: 15px 0px 10px 0px;
    color: rgb(74, 66, 97);
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
}

.star {
    position: relative;
    margin: 10px 0px 0px -2px;
    color: rgb(220, 86, 86);
    font-size: 12px;
    font-weight: 900;
    display: inline-block;
}

.standardinput {
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 35px;
    width: 288px;
    border: 1px solid;
    border-color: rgb(147, 140, 151);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 31px, rgba(220, 214, 205, 1));
    display: inline-block;
}

.gender {
    margin-left: 70px;
}

#nameinput {
    margin-right: 53px;
    width: 75px;
}

input[type=radio] {
    margin-left: 30px;
    display: inline-block;
    position: relative;
}

label[for=female], label[for=male] {
    font-size: 15px;
    color: rgb(74, 66, 97);
    display: inline-block;
    top: -4px;
    position: relative;
}

.container {
    margin-top: 10px;
    width: 300px;
    height: 150px;
    display: flex;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
    color: rgb(74, 66, 97);
}

.boxelem {
    margin-bottom: 10px;
    display: inline-block;
    width: 140px;
}

.comment {
    margin: 20px 100px 0px 0px;
    position: relative;
    color: rgb(179, 176, 172);
    font-size: 14px;
    display: inline-block;
    float: left;
}

select{
    margin-top: 10px;
    padding: 7px 0px 7px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    width: 300px;
    border: 1px solid;
    border-color: rgb(147, 140, 151);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 31px, rgba(220, 214, 205, 1));
    display: inline-block;
    clear: both;
}

.intro {
    margin: 20px 0px 10px 100px;
}

#introducing {
    margin-left: 100px;
    padding: 10px 0px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 608px;
    height: 170px;
    border: 1px solid;
    color: rgb(153, 153, 153);
    border-radius: 3px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 175px, rgba(220, 214, 205, 1));
    display: inline-block;
}

.newline {
    margin-top: 15px;
}

.cvupload {
    margin: 0px 400px 0px 100px;
    display: inline;
}

.inputfile {
    width: 0.1px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label, .reset + label {
    text-transform: uppercase;
    margin: 10px 0px 0px 100px;
    padding: 10px 45px;
    color: rgb(74, 66, 97);
    font-size: 15px;
    text-shadow: 1px 0px rgb(175, 172, 184);
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    border-color: rgb(147, 140, 151);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(220, 214, 205, 1));
}

input[id=check] {
    margin: 35px 0px 0px 100px;
}

label[for=check] {
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(74, 66, 97);
}

.linken {
    font-size: 15px;
    color: rgb(98, 98, 98);
}

.saveform {
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label[for=save] {
    text-transform: uppercase;
    margin: 30px 0px 0px 100px;
    padding: 10px 68px 10px 68px;
    color: rgb(220, 214, 205);
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(82, 73, 107, 1), rgba(66, 59, 87, 1));
}

.reset {
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.reset + label {
    margin-left: 224px;
    padding: 10px 25px 10px 25px;
}
