*{
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

li {
    margin: 20px;
}

a {
    text-decoration: none;
}

.navigation {
    text-transform: uppercase;
    background-color: rgb(240, 240, 240);
    font-size: 12px;
    line-height: 1.5em;
}

.line1 {
    height: 1px;
    width: 100%;
    background-color: rgb(128, 128, 128);
}

.line2 {
    height: 1px;
    width: 100%;
    background-color: rgb(95, 150, 200);
}

.onepost {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
}
.number {
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: bold;
}

.arrowcontainer {
    display: flex;
    flex-direction: column;
}

.upvote {
    min-height: 15px;
    padding: 0px 10px;
    background-image: url("images/upvote.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.upvoteclicked {
    min-height: 15px;
    padding: 0px 10px;
    background-image: url("images/upvoted.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.votes {
    color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.colorchangenumber {
    color: rgb(255, 140, 100);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.colorchangenumberdown {
    color: rgb(150, 150, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}

.downvote {
    min-height: 15px;
    padding: 0px 10px;
    background-image: url("images/downvote.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.downvoteclicked {
    min-height: 15px;
    padding: 0px 10px;
    background-image: url("images/downvoted.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.textcontainer {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
}

.header {
    color: rgb(0, 0, 255);
    font-size: 24px;
    line-height: 1em;
}

.submitdata {
    color: rgb(175, 175, 175);
    font-size: 14px;
}

.modrem {
    display: flex;
    line-height: 1em;
}

.modify {
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: bold;
}

.remove {
    margin-left: 20px;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: bold;
}

.postmaincont {
    width: 300px;
}

.postcont {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
}

.header1 {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.header2 {
    padding-left: 0.3em;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: white;
}

.line3 {
    height: 3px;
    width: 100%;
    background-color: rgb(95, 150, 205);
}

.urlcont {
    padding: 5px;
    height: 50px;
    background-color: rgb(206, 227, 248);
    display: flex;
}

.urlinput {
    width: 285px;
    position: absolute;
    top: 95px;
    line-height: 1.2em;
}

.titlecont {
    padding: 5px;
    height: 60px;
    background-color: rgb(206, 227, 248);
}

.titlelabelcont {
    margin-left: 5px;
    display: flex;
}

.star {
    color: red;
}

.titleinput {
    width: 285px;
    position: absolute;
    top: 165px;
    line-height: 1.2em;
}

.optionscont {
    padding: 5px;
    height: 50px;
    background-color: rgb(206, 227, 248);
    display: flex;
    flex-direction: column;
}

#check {
    margin-top: 5px;
}

.anonym {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 14px;
}

.required {
    margin-top: 10px;
    font-size: 14px;
}

.submit {
    margin-top: 10px;
    min-width: 50px;
}
