body {
    margin: 0;
    padding: 0;
}

.positioner {
    margin-top: 125px;
}

.container {
    margin: auto;
    height: 100%;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
}

.maincontainer {
    width: 700px;
    height: 340px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
}

.leftside {
    width: 50%;
    height: 90%;
    background-color: rgba(245, 245, 245, 1);
}

.topleftbox {
    display: flex;
    background-color: rgba(245, 245, 245, 1);
}

.logobox {
    padding: 10px;
    width: 200px;
    height: 110px;
    display: flex;
    background-color: rgba(245, 245, 245, 1);
}

.logoleft{
    width: 130px;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.logo {
    width: 80%;
    height: 75%;
    background-image: url(images/foxplayer.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.playlistheader {
    width: 80%;
    height: 25%;
    background-color: rgba(245, 245, 245, 1);
    text-align: left;
    line-height: 35px;
    color: rgb(80, 80, 80);
    font-size: 20px;
    font-weight: bold;
}

.logoright{
    width: 100px;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.imageholder {
    width: 130px;
    min-height: 100%;
    background-image: url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.notifications {
    width: 100%;
    height: 75%;
    background-color: rgba(245, 245, 245, 1);
}

.adder {
    width: 100%;
    height: 16%;
    background-color: rgba(245, 245, 245, 1);
    background-image: url(images/adder.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.playlistbox{
    width: 100%;
    height: 210px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlistbox::-webkit-scrollbar {
    width: 5px;
}

.playlistbox::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
}

.playlistbox::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.onelist1{
    padding: 5px 5px 5px 10px;
    width: 330px;
    min-height: 25px;
    background-color: rgba(245, 245, 245, 1);
    text-align: left;
    line-height: 25px;
    color: rgb(80, 80, 80);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.onelist2{
    padding: 5px 5px 5px 10px;
    width: 330px;
    min-height: 25px;
    background-color: rgba(234, 234, 234, 1);
    text-align: left;
    line-height: 25px;
    color: rgb(80, 80, 80);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.listex {
    width: 20px;
    height: 20px;
    text-align: right;
    line-height: 25px;
    color: rgb(80, 80, 80);
    font-size: 16px;
}

.rightside {
    width: 50%;
    height: 90%;
}

.infobar {
    padding: 10px;
    width: 330px;
    height: 40px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: space-between;
}

.leftinfo {
    width: 75%;
    height: 60px;
}

.titleholder {
    text-align: left;
    line-height: 20px;
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: bold;
}

.artistholder {
    text-align: top left;
    line-height: 20px;
    color: rgb(160, 160, 160);
    font-size: 14px;
}

.rightinfo {
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plus {
    width: 20px;
    height: 20px;
    background-image: url(images/greyadd.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
.star {
    width: 20px;
    height: 20px;
    background-image: url(images/star.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.songbox {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.songbox::-webkit-scrollbar {
    width: 5px;
}

.songbox::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
}

.songbox::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.onesong1{
    padding: 5px 5px 5px 10px;
    width: 335px;
    min-height: 30px;
    background-color: rgba(234, 234, 234, 1);
    display: flex;
    justify-content: flex-start;
}

.onesong2{
    padding: 5px 5px 5px 10px;
    width: 335px;
    min-height: 30px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: flex-start;
}

.ordernumber {
    width: 15px;
    text-align: left;
    line-height: 30px;
    color: rgb(165, 165, 165);
    font-size: 14px;
}

.title {
    width: 280px;
    text-align: left;
    line-height: 30px;
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.length {
    width: 35px;
    text-align: right;
    line-height: 30px;
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.controlbar {
    padding: 10px 5px 10px 20px;
    height: 30px;
    width: 675px;
    display: flex;
}

.rewind {
    width: 30px;
    height: 30px;
    background-image: url(images/rewind.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.pause {
    width: 50px;
    height: 30px;
    background-image: url(images/pause.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.forward {
    width: 30px;
    height: 30px;
    background-image: url(images/forward.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.remaintime {
    width: 35px;
    text-align: right;
    line-height: 30px;
    color: rgb(85, 85, 85);
    font-size: 14px;
}

input[type=range] {
  -webkit-appearance: none;
  margin-left: 10px;
  width: 320px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: rgb(60, 210, 205);
  border-radius: 1.3px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  background: rgb(60, 210, 205);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow:
  1px 0px rgb(200, 200, 200),
  -1px 0px rgb(200, 200, 200),
  0px 1px rgb(200, 200, 200),
  0px -1px rgb(200, 200, 200),
  20px 0px rgb(200, 200, 200);
  overflow: hidden;
}
