.container {
    margin-top: 8%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
}

.maincontainer {
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
}

.leftside {
    width: 50%;
    height: 90%;
    background-color: rgba(245, 245, 245, 1);
}

.topleftbox {
    display: flex;
    background-color: rgba(245, 245, 245, 1);
}

.logobox {
    width: 220px;
    height: 130px;
    display: flex;
    background-color: rgba(245, 245, 245, 1);
}

.logoleft{
    width: 200px;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.logo {
    width: 80%;
    height: 75%;
    background-image: url(images/foxplayer.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.playlistheader {
    width: 80%;
    height: 25%;
    background-color: rgba(245, 245, 245, 1);
    text-align: center;
    line-height: 35px;
    color: rgb(80, 80, 80);
    font-size: 20px;
    font-weight: bold;
}

.logoright{
    width: 50%;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.imageholder {
    width: 130px;
    min-height: 100%;
    background-image: url(images/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.notifications {
    width: 80%;
    height: 75%;
    background-color: rgba(245, 245, 245, 1);
}

.adder {
    margin: 7% 0;
    width: 80%;
    height: 16%;
    background-color: rgba(245, 245, 245, 1);
    background-image: url(images/adder.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.playlistbox{
    width: 100%;
    height: 230px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    overflow-y: scroll;
}

.playlistbox::-webkit-scrollbar {
    width: 5px;
}

.playlistbox::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
}

.playlistbox::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.onelist1{
    width: 100%;
    min-height: 35px;
    background-color: rgba(0, 100, 200, 1);
}

.onelist2{
    width: 100%;
    min-height: 35px;
    background-color: rgba(100, 100, 200, 1);
}

.rightside {
    width: 50%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.3);
}
