*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div {
    margin: 20px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
}
