*{
    margin: 0;
    padding: 0;
}

.basic {
    max-width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: yellow;
}

.purple {
    background-color: purple;
    max-width: 1000px;
    height: 50px;
}

.cyan1 {
    background-color: cyan;
    height: 30px;
    width: 9%;
    z-index: 1;
    position: relative;
    margin-top: -40px;
    margin-left: 1%;
}

.cyan2 {
    background-color: cyan;
    height: 30px;
    width: 7%;
    z-index: 1;
    position: relative;
    margin-top: -30px;
    margin-left: 11%;
}

.cyan3 {
    background-color: cyan;
    height: 30px;
    width: 8%;
    z-index: 1;
    position: relative;
    margin-top: -30px;
    margin-left: 19%;
}

.cyan4 {
    background-color: cyan;
    height: 30px;
    width: 3%;
    z-index: 1;
    position: relative;
    margin-top: -30px;
    margin-left: 92%;
}

.cyan5 {
    background-color: cyan;
    height: 30px;
    width: 3%;
    z-index: 1;
    position: relative;
    margin-top: -30px;
    margin-left: 96%;
}

.maincontent{
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: green;
    margin-top: 10px;
    min-width: 200px;
    height: 550px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    background-color: grey;
    height: 30px;
    width: 180px;
    margin-top: 10px;
    display:inline-block;

}

.text1 {
    background-color: none;
    text-align: justify;
    width: 180px;
    margin-top: 10px;
}

.text2 {
    background-color: none;
    text-align: justify;
    width: 180px;
    margin-top: 10px;
}

.text3 {
    background-color: none;
    text-align: justify;
    min-width: 80%;
    max-height: 150px;
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.boxcontainer {
    margin-top: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
}

.redbox{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 1%;

}
