*{
    margin: 0;
    padding: 0;
}

.container{
    width: 675px;
    display: flex;
}

.item{
    height: 225px;
    width: 225px;
}

.item.green{
    background-color: limegreen;
}

.item.yellow{
    background-color: gold;
}

.item.purple{
    background-color: purple;
}
