body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

xcr meélxj greéioxjer noxgifhreoiu xfhnreugryxfbz fgixfneoésrcgnpretgcthvo nejgcxerhfxbewrkj xflkewrfcxh elrcnjseoéronxcerce